.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.item{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.navy{
    background-color: navy;
}

.purple{
    background-color: purple;
}