<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin :0;
        }
        .container{
            position: relative;
            background-color: black;
            width: 500px;
            height: 500px;
            /* z-index를 부모에 넣어도 자식 위에 보이지 않음 */
        }
        .item{
            position: absolute;
            width: 100px;
            height: 100px;
        }
        .one{
            background-color: red;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .two{
            background-color: orange;
            top: 30px;
            left: 30px;
            z-index: 2;
        }
        .three{
            background-color: yellow;
            top: 60px;
            left: 60px;
            z-index: 3;
        }
        .back{
            position:relative;
            width: 500px;
            height:500px;
        }
        .circle{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute
        }
        .circle-1{
            background-color: rgb(81, 81, 237);
            top: 0;
            left: 200px;
        }
        .circle-1-1{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            background-color: white;
            top: 30px;
            left: 20px;
        }
        .circle-1-2{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            background-color: black;
            top: 32px;
            left: 21px;
        }
        .circle-2{
            background-color: rgb(14, 14, 145);
            top: 20px;
            left: 260px;
        }   
        .circle-3{
            background-color:rgb(88, 88, 152) ;
            top: 30px;
            left: 300px;
        }
        .circle-4{
            background-color:rgb(50, 50, 67) ;
            top: 27px;
            left: 370px;
        }
        .circle-5{
            background-color: aqua;
            top: 24px;
            left: 420px;
            z-index: 300;
        }
        /* .grass{
            top: 50px;
            left: 100px;
            width: 200px;
            height: 100px;
            object-fit: cover;
        } */
        .back >img{
            position: absolute;
            top: 60px;
            left: 50%;
            width: 300px;
            
        }
    </style>
</head>
<body>
    <!-- <div class="container c-1">
        <div class="item one"></div>
        <div class="item two"></div>
        <div class="item three"></div>
    </div> -->
    <!-- <div class="back">
            <div class="circle circle-1">
                <div class="circle-1 circle-1-1"></div>
                <div class="circle-1 circle-1-2"></div>
            </div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="circle circle-5"></div>
           
            <img src="../public/pngwing.com.png"/>
            
    </div> -->
    <div>
        
        <a href="kdt8">2</a>
        <a href="kdt9">3</a>
        <img src="../public/grape.jpg" alt="">

    </div>
       

    
</body>
</html>