<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
        .contanier{
            width: 300px;
            height: 300px;
            border: 1;
        }
    </style>
</head>
<body>
    <!-- <div class="contanier">
        <img src="../public/apple.jpg" id="img">
        <button type="button" id = "apple" onclick="change('apple')">사과</button>
        <button type="button" id = "banana" onclick="change('banana')">바나나</button>
        <button type="button" id = "grape" onclick="change('grape')">포도</button>
        <button type="button" id = "peach" onclick="change('peach')">복숭아</button>
    </div> -->
    <div>
        <!-- <a href=""></a> -->
        <div>
            <a href="kdt7">1</a>
            
            <a href="kdt9">3</a>
            <img src="../public/banana.jpg" alt="">
    
        </div>
    </div>
    <script>
        // function apple(){
        //     $("img").attr("src","../public/apple.jpg")
        // }
        // function banana(){
        //     $("img").attr("src","../public/banana.jpg")
        // }
        // function grape(){
        //     $("img").attr("src","../public/grape.jpg")
        // }
        // function peach(){
        //     $("img").attr("src","../public/peach.jpg")
        // }
        
        // function change(fruit){
        //     $("img").attr("src","../public/"+fruit+".jpg")
        // }
        function move(){
            location.href = "../kdt7"
        }
        
        
    </script>
</body>
</html>