<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        아이디<input type="text" id="name" value="<%= data.name %>">
        <input type="text" id = "change" placeholder="수정할아이디">
        <button type="button" onclick="editP()">수정</button>
        <button type="button">회원탈퇴</button>
    </fieldset>
    <script>
        function editP(){
            
        }
    </script>
</body>
</html>